/* utils.scss */
@import "/utils/utils.scss";

page {
  background: #fafafa;
   --main-bg:rgba(255, 78, 44, 0.1);//背景色
   --main-color:#333333/* 标题 */
}

.flex{
	display: flex;
}
.ct{
	display: flex;
	align-items: center;
	justify-content: center;
}


@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}


